<div class="footer">
  <span class="block">&copy; {{ site.time | date: '%Y' }} {{ site.author_name }}</span>
  <span class="block"><small><i>"There Are No Ordinary Moments"</i></span>
  <span onclick="window.location='https://twitter.com/inf800'" class="hlink2 iconify" data-icon="fa-brands:twitter" data-inline="false"></span>&nbsp;&nbsp;
  <span onclick="window.location='mailto:beyondre4son@gmail.com?subject=AMA&body=Hi'" class="hlink2 iconify" data-icon="fa-regular:envelope-open" data-inline="false"></span>&nbsp;&nbsp;
  <span onclick="window.location='https://www.linkedin.com/in/asapanna-rakesh/'" class="hlink2 iconify" data-icon="simple-icons:linkedin" data-inline="false"></span>&nbsp;&nbsp;

<div>