<div class="footer">
  <span class="block">&copy; {{ site.time | date: '%Y' }} {{ site.author_name }}</span>
  <span class="block"><small><i>There Are No Ordinary Moments</i></span>
  <span onclick="window.location='https://twitter.com/inf800'" class="iconify" data-icon="fa-brands:twitter" data-inline="false"></span>&nbsp;
  <span onclick="window.location='mailto:beyondre4son@gmail.com?subject = A Friendly Email&body = Ask me anything'" class="iconify" data-icon="fa-regular:envelope-open" data-inline="false"></span>&nbsp;
  <span onclick="window.location='https://www.linkedin.com/in/asapanna-rakesh/'" class="iconify" data-icon="simple-icons:linkedin" data-inline="false"></span>&nbsp;

<div>