<div class="footer">
  <span class="block">&copy; {{ site.time | date: '%Y' }} {{ site.author_name }}</span>
  <span class="block"><small>A Simple Act of Kindness Always Sparks Another</span>
  <span onclick="window.location='https://binf.io'" class="iconify" data-icon="fa-brands:twitter" data-inline="false"></span>&nbsp;
  <span class="iconify" data-icon="fa-regular:envelope-open" data-inline="false"></span>&nbsp;
  <span onclick="window.location='https://binf.io'" class="iconify" data-icon="simple-icons:linkedin" data-inline="false"></span>&nbsp;