<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = 'About the Author' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'About the Author' %}
	{% endif %}

	<!--a href="{{ link | prepend: site.baseurl | prepend: site.url }}" -->
	<a href="{{ "/whoami/" }}">
		{% if page.url == '/freelace.html' %}
			<img src="{{ site.frelance_url }}" alt="" class="logo-avatar">
		{% else %}
			<img src="{{ site.logo_url }}" alt="" class="logo-avatar">
		{% endif %}
	</a>
	<span class="logo-prompt code">{{ prompt }}</span>

</aside>
